body {
  margin: 0;
  
}

input[data-touched="true"]:invalid{
  border: 1px solid coral;
}


.form-req{
  /* visibility: hidden; */
  color: red;
  font-size: 14px;
}


input[data-touched="true"]:invalid ~ .form-req{
visibility: visible;
}

.spinner {
  color: white;
}